In [2]:
from transit_parser import *

In [1]:
TEST = './test/'
def examine_train(filename):
    train_name = TEST + filename
    t = TrainParser(train_name)
    times = t.get_stop_times()
    rows = t.get_rows(times)
    df = t.get_df(rows)
    performance = t.join_schedule(df)
    return performance[['from', 'to','status', 'time', 'expected','train_id', 'line']]

In [3]:
pd.set_option('display.height', 100)

height has been deprecated.

## NJ Transit

In [7]:
examine_train('2018_02_02_3714')

[786.0, 42414.0, 85614.0]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-02-02 07:55:10,2018-02-02 07:55:00,3714
2,Jersey Avenue,New Brunswick,Departed,2018-02-02 08:02:11,2018-02-02 08:01:00,3714
3,New Brunswick,Edison,Departed,2018-02-02 08:07:13,2018-02-02 08:06:00,3714
4,Edison,Metuchen,Departed,2018-02-02 08:13:08,2018-02-02 08:12:00,3714
5,Metuchen,Metropark,Departed,2018-02-02 08:18:07,2018-02-02 08:17:00,3714
6,Metropark,Newark Penn Station,Departed,2018-02-02 08:35:07,2018-02-02 08:35:00,3714
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-02-02 08:45:08,2018-02-02 08:43:00,3714
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-02-02 08:58:00,2018-02-02 08:57:00,3714

In [13]:
examine_train('2018_02_02_3928')

[966.0, 42234.0, 85434.0]

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Trenton,Trenton,Departed,2018-02-02 07:49:01,2018-02-02 07:50:00,3928,Northeast Corrdr
2,Trenton,Hamilton,Departed,2018-02-02 07:57:01,2018-02-02 07:57:00,3928,Northeast Corrdr
3,Hamilton,Princeton Junction,Departed,2018-02-02 08:05:03,2018-02-02 08:05:00,3928,Northeast Corrdr
4,Princeton Junction,New Brunswick,Departed,2018-02-02 08:21:06,2018-02-02 08:21:00,3928,Northeast Corrdr
5,New Brunswick,Metropark,Departed,2018-02-02 08:31:07,2018-02-02 08:31:00,3928,Northeast Corrdr
6,Metropark,Newark Airport,Departed,2018-02-02 08:45:05,2018-02-02 08:44:00,3928,Northeast Corrdr
7,Newark Airport,Newark Penn Station,Departed,2018-02-02 08:53:03,2018-02-02 08:51:00,3928,Northeast Corrdr
8,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-02-02 09:03:09,2018-02-02 09:00:00,3928,Northeast Corrdr
9,Secaucus Upper Lvl,New York Penn Station,Departed,2018-02-02 09:21:00,2018-02-02 09:14:00,3928,Northeast Corrdr

In [14]:
examine_train('2018_02_02_3712')

[729.0, 42471.0, 85671.0]

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-02-02 07:39:14,2018-02-02 07:39:00,3712,Northeast Corrdr
2,Jersey Avenue,New Brunswick,Departed,2018-02-02 07:47:11,2018-02-02 07:44:00,3712,Northeast Corrdr
3,New Brunswick,Edison,Departed,2018-02-02 07:51:10,2018-02-02 07:49:00,3712,Northeast Corrdr
4,Edison,Metuchen,Departed,2018-02-02 07:55:10,2018-02-02 07:55:00,3712,Northeast Corrdr
5,Metuchen,Metropark,Departed,2018-02-02 08:00:13,2018-02-02 08:00:00,3712,Northeast Corrdr
6,Metropark,Newark Penn Station,Departed,2018-02-02 08:16:13,2018-02-02 08:16:00,3712,Northeast Corrdr
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-02-02 08:26:06,2018-02-02 08:23:00,3712,Northeast Corrdr
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-02-02 08:35:00,2018-02-02 08:36:00,3712,Northeast Corrdr

In [7]:
examine_train('2018_01_29_0067')

[43127.0, 73.0, 43273.0]
[42467.0, 733.0, 43933.0]
[41207.0, 1993.0, 45193.0]
[41152.0, 2048.0, 45248.0]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Hoboken,Hoboken,Departed,2018-01-29 22:01:00,2018-01-29 21:58:00,0067
2,Hoboken,Secaucus Lower Lvl,Departed,2018-01-29 22:08:58,2018-01-29 22:08:00,0067
3,Secaucus Lower Lvl,Kingsland,Departed,2018-01-29 22:15:53,2018-01-29 22:14:00,0067
4,Kingsland,Lyndhurst,Departed,2018-01-29 22:17:52,2018-01-29 22:17:00,0067
5,Lyndhurst,Delawanna,Departed,2018-01-29 22:20:54,2018-01-29 22:20:00,0067
6,Delawanna,Passaic,Departed,2018-01-29 22:23:50,2018-01-29 22:23:00,0067
7,Passaic,Clifton,Departed,2018-01-29 22:26:56,2018-01-29 22:26:00,0067
8,Clifton,Paterson,Departed,2018-01-29 22:33:57,2018-01-29 22:31:00,0067
9,Paterson,Hawthorne,Departed,2018-01-29 22:37:57,2018-01-29 22:35:00,0067
10,Hawthorne,Glen Rock Main Line,Departed,2018-01-29 22:41:57,2018-01-29 22:39:00,0067
11,Glen Rock Main Line,Ridgewood,Departed,2018-01-29 22:45:58,2018-01-29 22:44:00,0067
12,Ridgewood,Ho-Ho-Kus,Departed,2018-01-29 22:49:49,2018-01-29 22:47:00,0067
13,Ho-Ho-Kus,Waldwick,Departed,2018-01-29 22:52:54,2018-01-29 22:50:00,0067
14,Waldwick,Allendale,Departed,2018-01-29 22:54:55,2018-01-29 22:54:00,0067
15,Allendale,Ramsey Main St,Departed,2018-01-29 22:59:46,2018-01-29 22:58:00,0067
16,Ramsey Main St,Ramsey Route 17,Departed,2018-01-29 23:03:48,2018-01-29 23:01:00,0067
17,Ramsey Route 17,Mahwah,Departed,2018-01-29 23:05:48,2018-01-29 23:04:00,0067
18,Mahwah,Suffern,Departed,2018-01-29 23:09:48,2018-01-29 23:07:00,0067
19,Suffern,Sloatsburg,Departed,2018-01-29 23:15:55,2018-01-29 23:15:00,0067
20,Sloatsburg,Tuxedo,Departed,2018-01-29 23:22:47,2018-01-29 23:20:00,0067
21,Tuxedo,Harriman,Departed,2018-01-29 23:30:55,2018-01-29 23:30:00,0067
22,Harriman,Salisbury Mills-Cornwall,Departed,2018-01-29 23:42:55,2018-01-29 23:42:00,0067
23,Salisbury Mills-Cornwall,Campbell Hall,Departed,2018-01-29 23:53:55,2018-01-29 23:54:00,0067
24,Campbell Hall,Middletown NY,None,2018-01-30 00:00:00,2018-01-29 24:01:00,0067
25,Middletown NY,Otisville,None,2018-01-30 00:11:00,2018-01-29 24:12:00,0067
26,Otisville,Port Jervis,None,2018-01-30 00:32:00,2018-01-29 24:31:00,0067

In [19]:
examine_train('2018_01_31_3714')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-01-31 07:55:14,2018-01-31 07:55:00,3714
2,Jersey Avenue,New Brunswick,Departed,2018-01-31 08:02:05,2018-01-31 08:01:00,3714
3,New Brunswick,Edison,Departed,2018-01-31 08:07:06,2018-01-31 08:06:00,3714
4,Edison,Metuchen,Departed,2018-01-31 08:12:11,2018-01-31 08:12:00,3714
5,Metuchen,Metropark,Departed,2018-01-31 08:17:05,2018-01-31 08:17:00,3714
6,Metropark,Newark Penn Station,Departed,2018-01-31 09:06:06,2018-01-31 08:35:00,3714
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 09:16:04,2018-01-31 08:43:00,3714
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-31 09:24:00,2018-01-31 08:57:00,3714

In [4]:
examine_train('2018_02_02_0046')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Port Jervis,Port Jervis,Departed,2018-02-02 05:02:03,2018-02-02 05:03:00,0046,Bergen Co. Line
2,Port Jervis,Otisville,Departed,2018-02-02 05:25:08,2018-02-02 05:21:00,0046,Bergen Co. Line
3,Otisville,Middletown NY,Departed,2018-02-02 05:36:08,2018-02-02 05:32:00,0046,Bergen Co. Line
4,Middletown NY,Campbell Hall,Departed,2018-02-02 05:44:07,2018-02-02 05:40:00,0046,Bergen Co. Line
5,Campbell Hall,Salisbury Mills-Cornwall,Departed,2018-02-02 05:53:13,2018-02-02 05:52:00,0046,Bergen Co. Line
6,Salisbury Mills-Cornwall,Harriman,Departed,2018-02-02 06:08:07,2018-02-02 06:06:00,0046,Bergen Co. Line
7,Harriman,Tuxedo,Departed,2018-02-02 06:20:11,2018-02-02 06:16:00,0046,Bergen Co. Line
8,Tuxedo,Sloatsburg,Departed,2018-02-02 06:23:09,2018-02-02 06:21:00,0046,Bergen Co. Line
9,Sloatsburg,Suffern,Departed,2018-02-02 06:30:17,2018-02-02 06:28:00,0046,Bergen Co. Line
10,Suffern,Ramsey Route 17,Departed,2018-02-02 06:34:16,2018-02-02 06:32:00,0046,Bergen Co. Line
11,Ramsey Route 17,Secaucus Lower Lvl,None,2018-02-02 07:02:00,2018-02-02 07:01:00,0046,Bergen Co. Line
12,Secaucus Lower Lvl,Hoboken,None,2018-02-02 07:13:00,2018-02-02 07:13:00,0046,Bergen Co. Line

In [8]:
examine_train('2018_02_01_3806')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Trenton,Trenton,Departed,2018-02-02 03:49:28,2018-02-01 03:48:00,3806,Northeast Corrdr
2,Trenton,Hamilton,Departed,2018-02-02 04:02:27,2018-02-01 03:54:00,3806,Northeast Corrdr
3,Hamilton,Princeton Junction,Departed,2018-02-02 04:05:28,2018-02-01 04:00:00,3806,Northeast Corrdr
4,Princeton Junction,New Brunswick,Departed,2018-02-02 04:18:32,2018-02-01 04:14:00,3806,Northeast Corrdr
5,New Brunswick,Edison,Departed,2018-02-02 04:22:26,2018-02-01 04:18:00,3806,Northeast Corrdr
6,Edison,Metuchen,Departed,2018-02-02 04:26:31,2018-02-01 04:23:00,3806,Northeast Corrdr
7,Metuchen,Metropark,Departed,2018-02-02 04:31:29,2018-02-01 04:27:00,3806,Northeast Corrdr
8,Metropark,Rahway,Departed,2018-02-02 04:37:30,2018-02-01 04:34:00,3806,Northeast Corrdr
9,Rahway,Linden,Departed,2018-02-02 04:41:38,2018-02-01 04:38:00,3806,Northeast Corrdr
10,Linden,Elizabeth,Departed,2018-02-02 04:48:33,2018-02-01 04:44:00,3806,Northeast Corrdr
11,Elizabeth,Newark Airport,Departed,2018-02-02 04:53:26,2018-02-01 04:48:00,3806,Northeast Corrdr
12,Newark Airport,Newark Penn Station,Departed,2018-02-02 04:58:30,2018-02-01 04:54:00,3806,Northeast Corrdr
13,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-02-02 05:08:27,2018-02-01 05:01:00,3806,Northeast Corrdr
14,Secaucus Upper Lvl,New York Penn Station,Departed,2018-02-02 05:20:00,2018-02-01 05:21:00,3806,Northeast Corrdr

In [7]:
examine_train('2018_02_01_0041')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Hoboken,Hoboken,Departed,2018-02-02 00:39:03,2018-02-01 24:40:00,0041,Bergen Co. Line
2,Hoboken,Secaucus Lower Lvl,Departed,2018-02-02 00:52:11,2018-02-01 24:50:00,0041,Bergen Co. Line
3,Secaucus Lower Lvl,Rutherford,Departed,2018-02-02 00:59:05,2018-02-01 24:58:00,0041,Bergen Co. Line
4,Rutherford,Wesmont,Departed,2018-02-02 01:03:12,2018-02-01 25:02:00,0041,Bergen Co. Line
5,Wesmont,Garfield,Departed,2018-02-02 01:06:03,2018-02-01 25:05:00,0041,Bergen Co. Line
6,Garfield,Plauderville,Departed,2018-02-02 01:09:04,2018-02-01 25:08:00,0041,Bergen Co. Line
7,Plauderville,Broadway Fair Lawn,Departed,2018-02-02 01:13:11,2018-02-01 25:12:00,0041,Bergen Co. Line
8,Broadway Fair Lawn,Radburn Fair Lawn,Departed,2018-02-02 01:16:10,2018-02-01 25:16:00,0041,Bergen Co. Line
9,Radburn Fair Lawn,Glen Rock Boro Hall,Departed,2018-02-02 01:19:10,2018-02-01 25:19:00,0041,Bergen Co. Line
10,Glen Rock Boro Hall,Ridgewood,Departed,2018-02-02 01:22:11,2018-02-01 25:22:00,0041,Bergen Co. Line
11,Ridgewood,Ho-Ho-Kus,Departed,2018-02-02 01:26:03,2018-02-01 25:25:00,0041,Bergen Co. Line
12,Ho-Ho-Kus,Waldwick,Departed,2018-02-02 01:30:06,2018-02-01 25:29:00,0041,Bergen Co. Line
13,Waldwick,Allendale,Departed,2018-02-02 01:32:02,2018-02-01 25:32:00,0041,Bergen Co. Line
14,Allendale,Ramsey Main St,Departed,2018-02-02 01:37:08,2018-02-01 25:37:00,0041,Bergen Co. Line
15,Ramsey Main St,Ramsey Route 17,Departed,2018-02-02 01:40:05,2018-02-01 25:40:00,0041,Bergen Co. Line
16,Ramsey Route 17,Mahwah,Departed,2018-02-02 01:44:02,2018-02-01 25:43:00,0041,Bergen Co. Line
17,Mahwah,Suffern,Departed,2018-02-02 01:47:10,2018-02-01 25:46:00,0041,Bergen Co. Line
18,Suffern,Sloatsburg,Departed,2018-02-02 01:54:05,2018-02-01 25:53:00,0041,Bergen Co. Line
19,Sloatsburg,Tuxedo,Departed,2018-02-02 02:02:05,2018-02-01 25:58:00,0041,Bergen Co. Line
20,Tuxedo,Harriman,Departed,2018-02-02 02:09:05,2018-02-01 26:09:00,0041,Bergen Co. Line
21,Harriman,Salisbury Mills-Cornwall,Departed,2018-02-02 02:21:04,2018-02-01 26:21:00,0041,Bergen Co. Line
22,Salisbury Mills-Cornwall,Campbell Hall,Departed,2018-02-02 02:32:10,2018-02-01 26:33:00,0041,Bergen Co. Line
23,Campbell Hall,Middletown NY,Departed,2018-02-02 02:39:07,2018-02-01 26:40:00,0041,Bergen Co. Line
24,Middletown NY,Otisville,None,2018-02-02 02:50:00,2018-02-01 26:51:00,0041,Bergen Co. Line
25,Otisville,Port Jervis,None,2018-02-02 03:11:00,2018-02-01 27:10:00,0041,Bergen Co. Line

## Amtrak

In [16]:
examine_train('2018_02_02_A644')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Philadelphia,Philadelphia,Departed,2018-02-02 09:46:11,None,A644,KEYSTONE
2,Philadelphia,Trenton,Departed,2018-02-02 10:17:06,None,A644,KEYSTONE
3,Trenton,Newark Penn Station,Departed,2018-02-02 10:49:14,None,A644,KEYSTONE
4,Newark Penn Station,New York Penn Station,Departed,2018-02-02 11:06:06,None,A644,KEYSTONE

In [14]:
examine_train('2018_01_30_A643')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Newark Penn Station,Newark Penn Station,Departed,2018-01-30 09:51:18,None,A643,KEYSTONE
2,Newark Penn Station,Trenton,Departed,2018-01-30 10:22:06,None,A643,KEYSTONE
3,Trenton,Philadelphia,Departed,2018-01-30 11:00:07,None,A643,KEYSTONE

In [11]:
examine_train('2018_02_02_A643')

,from,to,status,time,expected,train_id,line
stop_num,,,,,,,
1,Newark Penn Station,Newark Penn Station,Departed,2018-02-02 09:46:12,None,A643,KEYSTONE
2,Newark Penn Station,Trenton,Departed,2018-02-02 10:23:11,None,A643,KEYSTONE
3,Trenton,Philadelphia,Departed,2018-02-02 11:00:05,None,A643,KEYSTONE

In [10]:
trip_stops[(trip_stops['block_id'] == '3806') & (trip_stops['trip_id'] == 2253)]

,trip_id,expected,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled,route_id,service_id,trip_headsign,direction_id,block_id,shape_id
32317,2253,03:48:00,03:48:00,148,1,0,0,0.0000,9,8,NEW YORK PENN STATION,0,3806,1300
32318,2253,03:54:00,03:54:00,32905,2,0,0,3.6538,9,8,NEW YORK PENN STATION,0,3806,1300
32319,2253,04:00:00,04:00:00,125,3,0,0,9.6248,9,8,NEW YORK PENN STATION,0,3806,1300
32320,2253,04:14:00,04:14:00,103,4,0,0,25.3610,9,8,NEW YORK PENN STATION,0,3806,1300
32321,2253,04:18:00,04:18:00,38,5,0,0,27.7278,9,8,NEW YORK PENN STATION,0,3806,1300
32322,2253,04:23:00,04:23:00,84,6,0,0,30.8036,9,8,NEW YORK PENN STATION,0,3806,1300
32323,2253,04:27:00,04:27:00,83,7,0,0,33.4072,9,8,NEW YORK PENN STATION,0,3806,1300
32324,2253,04:34:00,04:34:00,127,8,0,0,37.2072,9,8,NEW YORK PENN STATION,0,3806,1300
32325,2253,04:38:00,04:38:00,70,9,0,0,39.2657,9,8,NEW YORK PENN STATION,0,3806,1300
32326,2253,04:44:00,04:44:00,41,10,0,0,42.5492,9,8,NEW YORK PENN STATION,0,3806,1300
32327,2253,04:48:00,04:48:00,37953,11,0,0,45.3750,9,8,NEW YORK PENN STATION,0,3806,1300
32328,2253,04:54:00,04:54:00,107,12,0,0,47.8532,9,8,NEW YORK PENN STATION,0,3806,1300
32329,2253,05:01:00,05:01:00,38187,13,0,0,52.9220,9,8,NEW YORK PENN STATION,0,3806,1300
32330,2253,05:21:00,05:21:00,105,14,0,0,57.9100,9,8,NEW YORK PENN STATION,0,3806,1300