In [1]:
from transit_parser import *

## NJ Transit

In [2]:
train_name = './test/' + '2018_01_30_0426'

In [3]:
t = TrainParser(train_name)
times = t.get_stop_times()
rows = t.get_rows(times)
df = t.get_df(rows)
performance = t.join_schedule(df)

In [4]:
performance[['from', 'to','status', 'time', 'expected','train_id']]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Gladstone,Gladstone,Departed,2018-01-30 13:53:10,2018-01-30 13:53:00,0426
2,Gladstone,Peapack,Departed,2018-01-30 13:57:14,2018-01-30 13:56:00,0426
3,Peapack,Far Hills,Departed,2018-01-30 14:06:15,2018-01-30 14:04:00,0426
4,Far Hills,Bernardsville,Departed,2018-01-30 14:12:12,2018-01-30 14:10:00,0426
5,Bernardsville,Basking Ridge,Departed,2018-01-30 14:16:11,2018-01-30 14:13:00,0426
6,Basking Ridge,Lyons,Departed,2018-01-30 14:17:11,2018-01-30 14:16:00,0426
7,Lyons,Millington,Departed,2018-01-30 14:21:07,2018-01-30 14:19:00,0426
8,Millington,Stirling,Departed,2018-01-30 14:23:09,2018-01-30 14:22:00,0426
9,Stirling,Gillette,Departed,2018-01-30 14:26:13,2018-01-30 14:25:00,0426
10,Gillette,Berkeley Heights,Departed,2018-01-30 14:29:12,2018-01-30 14:28:00,0426
11,Berkeley Heights,Murray Hill,Departed,2018-01-30 14:37:15,2018-01-30 14:33:00,0426
12,Murray Hill,New Providence,Departed,2018-01-30 14:41:15,2018-01-30 14:38:00,0426
13,New Providence,Summit,Departed,2018-01-30 14:47:12,2018-01-30 14:44:00,0426
14,Summit,Short Hills,Departed,2018-01-30 14:52:13,2018-01-30 14:48:00,0426
15,Short Hills,Millburn,Departed,2018-01-30 14:54:08,2018-01-30 14:51:00,0426
16,Millburn,Maplewood,Departed,2018-01-30 14:57:09,2018-01-30 14:54:00,0426
17,Maplewood,South Orange,Departed,2018-01-30 15:00:16,2018-01-30 14:57:00,0426
18,South Orange,Mountain Station,Departed,2018-01-30 15:02:13,2018-01-30 14:59:00,0426
19,Mountain Station,Highland Avenue,Departed,2018-01-30 15:04:10,2018-01-30 15:01:00,0426
20,Highland Avenue,Orange,Departed,2018-01-30 15:06:11,2018-01-30 15:03:00,0426
21,Orange,Brick Church,Departed,2018-01-30 15:09:12,2018-01-30 15:06:00,0426
22,Brick Church,East Orange,Departed,2018-01-30 15:11:15,2018-01-30 15:08:00,0426
23,East Orange,Newark Broad Street,Departed,2018-01-30 15:15:10,2018-01-30 15:12:00,0426
24,Newark Broad Street,Hoboken,Departed,2018-01-30 15:30:16,2018-01-30 15:30:00,0426

## Amtrak

In [5]:
train_id = './test/' + '2018_01_30_A2117'

In [6]:
a_t = TrainParser(train_id)
a_times = a_t.get_stop_times()
a_rows = a_t.get_rows(a_times)
a_df = a_t.get_df(a_rows)
a_performance = a_t.join_schedule(a_df)

In [7]:
a_performance[['from', 'to','status', 'time', 'expected','train_id']]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,New York Penn Station,New York Penn Station,Departed,2018-01-30 12:00:06,None,A2117
2,New York Penn Station,Newark Penn Station,Departed,2018-01-30 12:16:03,None,A2117
3,Newark Penn Station,Metropark,Departed,2018-01-30 12:31:10,None,A2117
4,Metropark,Philadelphia,Departed,2018-01-30 13:17:11,None,A2117