In [1]:
from transit_parser import *

In [2]:
TEST = './test/'
def examine_train(filename):
    train_name = TEST + filename
    t = TrainParser(train_name)
    times = t.get_stop_times()
    rows = t.get_rows(times)
    df = t.get_df(rows)
    performance = t.join_schedule(df)
    return performance[['from', 'to','status', 'time', 'expected','train_id']]

In [3]:
pd.set_option('display.height', 100)

height has been deprecated.

## NJ Transit

In [4]:
examine_train('2018_02_02_A65')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,New York Penn Station,New York Penn Station,Departed,2018-02-02 03:01:04,None,A65
2,New York Penn Station,Newark Penn Station,Departed,2018-02-02 03:21:05,None,A65
3,Newark Penn Station,Metropark,Departed,2018-02-02 03:35:01,None,A65
4,Metropark,Trenton,Departed,2018-02-02 03:59:04,None,A65
5,Trenton,Philadelphia,Departed,2018-02-02 04:33:02,None,A65

In [5]:
examine_train('2018_01_30_3712')

[731.0, 42469.0, 85669.0]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-01-30 07:39:19,2018-01-30 07:39:00,3712
2,Jersey Avenue,New Brunswick,Departed,2018-01-30 07:47:17,2018-01-30 07:44:00,3712
3,New Brunswick,Edison,Departed,2018-01-30 07:51:28,2018-01-30 07:49:00,3712
4,Edison,Metuchen,Departed,2018-01-30 07:55:37,2018-01-30 07:55:00,3712
5,Metuchen,Metropark,Departed,2018-01-30 07:59:31,2018-01-30 08:00:00,3712
6,Metropark,Newark Penn Station,Departed,2018-01-30 08:15:22,2018-01-30 08:16:00,3712
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-30 08:26:09,2018-01-30 08:23:00,3712
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-30 08:37:00,2018-01-30 08:36:00,3712

In [6]:
examine_train('2018_01_29_3806')

[6.0, 43206.0, 86406.0]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Trenton,Trenton,Departed,2018-01-30 03:52:48,2018-01-29 03:48:00,3806
2,Trenton,Hamilton,Departed,2018-01-30 03:55:51,2018-01-29 03:54:00,3806
3,Hamilton,Princeton Junction,Departed,2018-01-30 04:01:56,2018-01-29 04:00:00,3806
4,Princeton Junction,New Brunswick,Departed,2018-01-30 04:16:49,2018-01-29 04:14:00,3806
5,New Brunswick,Edison,Departed,2018-01-30 04:20:54,2018-01-29 04:18:00,3806
6,Edison,Metuchen,Departed,2018-01-30 04:25:51,2018-01-29 04:23:00,3806
7,Metuchen,Metropark,Departed,2018-01-30 04:29:56,2018-01-29 04:27:00,3806
8,Metropark,Rahway,Departed,2018-01-30 04:33:46,2018-01-29 04:34:00,3806
9,Rahway,Linden,Departed,2018-01-30 04:38:47,2018-01-29 04:38:00,3806
10,Linden,Elizabeth,Departed,2018-01-30 04:44:49,2018-01-29 04:44:00,3806
11,Elizabeth,Newark Airport,Departed,2018-01-30 04:48:50,2018-01-29 04:48:00,3806
12,Newark Airport,Newark Penn Station,Departed,2018-01-30 04:54:48,2018-01-29 04:54:00,3806
13,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-30 05:01:51,2018-01-29 05:01:00,3806
14,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-30 05:20:00,2018-01-29 05:21:00,3806

In [7]:
examine_train('2018_01_29_0067')

[43127.0, 73.0, 43273.0]
[42467.0, 733.0, 43933.0]
[41207.0, 1993.0, 45193.0]
[41152.0, 2048.0, 45248.0]

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Hoboken,Hoboken,Departed,2018-01-29 22:01:00,2018-01-29 21:58:00,0067
2,Hoboken,Secaucus Lower Lvl,Departed,2018-01-29 22:08:58,2018-01-29 22:08:00,0067
3,Secaucus Lower Lvl,Kingsland,Departed,2018-01-29 22:15:53,2018-01-29 22:14:00,0067
4,Kingsland,Lyndhurst,Departed,2018-01-29 22:17:52,2018-01-29 22:17:00,0067
5,Lyndhurst,Delawanna,Departed,2018-01-29 22:20:54,2018-01-29 22:20:00,0067
6,Delawanna,Passaic,Departed,2018-01-29 22:23:50,2018-01-29 22:23:00,0067
7,Passaic,Clifton,Departed,2018-01-29 22:26:56,2018-01-29 22:26:00,0067
8,Clifton,Paterson,Departed,2018-01-29 22:33:57,2018-01-29 22:31:00,0067
9,Paterson,Hawthorne,Departed,2018-01-29 22:37:57,2018-01-29 22:35:00,0067
10,Hawthorne,Glen Rock Main Line,Departed,2018-01-29 22:41:57,2018-01-29 22:39:00,0067
11,Glen Rock Main Line,Ridgewood,Departed,2018-01-29 22:45:58,2018-01-29 22:44:00,0067
12,Ridgewood,Ho-Ho-Kus,Departed,2018-01-29 22:49:49,2018-01-29 22:47:00,0067
13,Ho-Ho-Kus,Waldwick,Departed,2018-01-29 22:52:54,2018-01-29 22:50:00,0067
14,Waldwick,Allendale,Departed,2018-01-29 22:54:55,2018-01-29 22:54:00,0067
15,Allendale,Ramsey Main St,Departed,2018-01-29 22:59:46,2018-01-29 22:58:00,0067
16,Ramsey Main St,Ramsey Route 17,Departed,2018-01-29 23:03:48,2018-01-29 23:01:00,0067
17,Ramsey Route 17,Mahwah,Departed,2018-01-29 23:05:48,2018-01-29 23:04:00,0067
18,Mahwah,Suffern,Departed,2018-01-29 23:09:48,2018-01-29 23:07:00,0067
19,Suffern,Sloatsburg,Departed,2018-01-29 23:15:55,2018-01-29 23:15:00,0067
20,Sloatsburg,Tuxedo,Departed,2018-01-29 23:22:47,2018-01-29 23:20:00,0067
21,Tuxedo,Harriman,Departed,2018-01-29 23:30:55,2018-01-29 23:30:00,0067
22,Harriman,Salisbury Mills-Cornwall,Departed,2018-01-29 23:42:55,2018-01-29 23:42:00,0067
23,Salisbury Mills-Cornwall,Campbell Hall,Departed,2018-01-29 23:53:55,2018-01-29 23:54:00,0067
24,Campbell Hall,Middletown NY,None,2018-01-30 00:00:00,2018-01-29 24:01:00,0067
25,Middletown NY,Otisville,None,2018-01-30 00:11:00,2018-01-29 24:12:00,0067
26,Otisville,Port Jervis,None,2018-01-30 00:32:00,2018-01-29 24:31:00,0067

In [19]:
examine_train('2018_01_31_3714')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-01-31 07:55:14,2018-01-31 07:55:00,3714
2,Jersey Avenue,New Brunswick,Departed,2018-01-31 08:02:05,2018-01-31 08:01:00,3714
3,New Brunswick,Edison,Departed,2018-01-31 08:07:06,2018-01-31 08:06:00,3714
4,Edison,Metuchen,Departed,2018-01-31 08:12:11,2018-01-31 08:12:00,3714
5,Metuchen,Metropark,Departed,2018-01-31 08:17:05,2018-01-31 08:17:00,3714
6,Metropark,Newark Penn Station,Departed,2018-01-31 09:06:06,2018-01-31 08:35:00,3714
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 09:16:04,2018-01-31 08:43:00,3714
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-31 09:24:00,2018-01-31 08:57:00,3714

## Amtrak

In [3]:
examine_train('2018_01_30_A85')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Newark Penn Station,Newark Penn Station,Departed,2018-01-30 15:22:06,None,A85
2,Newark Penn Station,Newark Penn Station,Departed,2018-01-30 15:23:07,None,A85
3,Newark Penn Station,Metropark,Departed,2018-01-30 15:37:09,None,A85
4,Metropark,Trenton,Departed,2018-01-30 16:01:19,None,A85
5,Trenton,Philadelphia,Departed,2018-01-30 16:45:07,None,A85