In [36]:
from transit_parser import *

In [37]:
TEST = './test/'
def examine_train(filename):
    train_name = TEST + filename
    t = TrainParser(train_name)
    times = t.get_stop_times()
    rows = t.get_rows(times)
    df = t.get_df(rows)
    performance = t.join_schedule(df)
    return performance[['from', 'to','status', 'time', 'expected','train_id']]

## NJ Transit

In [39]:
examine_train('2018_01_31_3712')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-01-31 07:39:14,2018-01-31 07:39:00,3712
2,Jersey Avenue,New Brunswick,Departed,2018-01-31 07:45:09,2018-01-31 07:44:00,3712
3,New Brunswick,Edison,Departed,2018-01-31 07:50:13,2018-01-31 07:49:00,3712
4,Edison,Metuchen,Departed,2018-01-31 07:55:14,2018-01-31 07:55:00,3712
5,Metuchen,Metropark,Departed,2018-01-31 08:19:10,2018-01-31 08:00:00,3712
6,Metropark,Newark Penn Station,Departed,2018-01-31 08:35:11,2018-01-31 08:16:00,3712
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 08:48:12,2018-01-31 08:23:00,3712
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-31 09:14:04,2018-01-31 08:36:00,3712

In [42]:
examine_train('2018_01_30_3712')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Jersey Avenue,Jersey Avenue,Departed,2018-01-30 07:39:19,2018-01-30 07:39:00,3712
2,Jersey Avenue,New Brunswick,Departed,2018-01-30 07:47:17,2018-01-30 07:44:00,3712
3,New Brunswick,Edison,Departed,2018-01-30 07:51:28,2018-01-30 07:49:00,3712
4,Edison,Metuchen,Departed,2018-01-30 07:55:37,2018-01-30 07:55:00,3712
5,Metuchen,Metropark,Departed,2018-01-30 07:59:31,2018-01-30 08:00:00,3712
6,Metropark,Newark Penn Station,Departed,2018-01-30 08:15:22,2018-01-30 08:16:00,3712
7,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-30 08:26:09,2018-01-30 08:23:00,3712
8,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-30 08:50:24,2018-01-30 08:36:00,3712

In [38]:
examine_train('2018_01_31_3828')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Trenton,Trenton,Departed,2018-01-31 07:22:15,2018-01-31 07:23:00,3828
2,Trenton,Hamilton,Departed,2018-01-31 07:35:19,2018-01-31 07:29:00,3828
3,Hamilton,Princeton Junction,Departed,2018-01-31 07:41:17,2018-01-31 07:36:00,3828
4,Princeton Junction,New Brunswick,Departed,2018-01-31 07:57:15,2018-01-31 07:54:00,3828
5,New Brunswick,Edison,Departed,2018-01-31 08:00:12,2018-01-31 07:59:00,3828
6,Edison,Metuchen,Departed,2018-01-31 08:05:15,2018-01-31 08:04:00,3828
7,Metuchen,Metropark,Departed,2018-01-31 08:10:21,2018-01-31 08:09:00,3828
8,Metropark,Rahway,Departed,2018-01-31 08:19:15,2018-01-31 08:18:00,3828
9,Rahway,Linden,Departed,2018-01-31 08:25:12,2018-01-31 08:23:00,3828
10,Linden,Elizabeth,Departed,2018-01-31 08:33:15,2018-01-31 08:32:00,3828
11,Elizabeth,North Elizabeth,Departed,2018-01-31 08:36:18,2018-01-31 08:35:00,3828
12,North Elizabeth,Newark Airport,Departed,2018-01-31 08:39:18,2018-01-31 08:38:00,3828
13,Newark Airport,Newark Penn Station,Departed,2018-01-31 08:45:15,2018-01-31 08:45:00,3828
14,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 08:58:13,2018-01-31 08:53:00,3828
15,Secaucus Upper Lvl,New York Penn Station,None,2018-01-31 09:23:14,2018-01-31 09:06:00,3828

In [41]:
examine_train('2018_01_31_3928')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Trenton,Trenton,Departed,2018-01-31 07:49:06,2018-01-31 07:50:00,3928
2,Trenton,Hamilton,Departed,2018-01-31 07:58:06,2018-01-31 07:57:00,3928
3,Hamilton,Princeton Junction,Departed,2018-01-31 08:06:08,2018-01-31 08:05:00,3928
4,Princeton Junction,New Brunswick,Departed,2018-01-31 08:22:00,2018-01-31 08:21:00,3928
5,New Brunswick,Metropark,Departed,2018-01-31 08:32:04,2018-01-31 08:31:00,3928
6,Metropark,Newark Airport,Departed,2018-01-31 08:45:06,2018-01-31 08:44:00,3928
7,Newark Airport,Newark Penn Station,Departed,2018-01-31 08:52:06,2018-01-31 08:51:00,3928
8,Newark Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 09:01:04,2018-01-31 09:00:00,3928
9,Secaucus Upper Lvl,New York Penn Station,Departed,2018-01-31 09:30:06,2018-01-31 09:14:00,3928

In [43]:
examine_train('2018_01_31_3825')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,New York Penn Station,New York Penn Station,Departed,2018-01-31 08:11:10,2018-01-31 08:12:00,3825
2,New York Penn Station,Secaucus Upper Lvl,Departed,2018-01-31 08:23:07,2018-01-31 08:21:00,3825
3,Secaucus Upper Lvl,Newark Penn Station,Departed,2018-01-31 08:33:10,2018-01-31 08:30:00,3825
4,Newark Penn Station,Newark Airport,Departed,2018-01-31 08:38:14,2018-01-31 08:36:00,3825
5,Newark Airport,Elizabeth,Departed,2018-01-31 08:43:13,2018-01-31 08:41:00,3825
6,Elizabeth,Linden,Departed,2018-01-31 08:49:12,2018-01-31 08:46:00,3825
7,Linden,Rahway,Departed,2018-01-31 08:53:10,2018-01-31 08:50:00,3825
8,Rahway,Metropark,Departed,2018-01-31 09:01:09,2018-01-31 08:57:00,3825
9,Metropark,Metuchen,Departed,2018-01-31 09:06:07,2018-01-31 09:02:00,3825
10,Metuchen,Edison,Departed,2018-01-31 09:09:06,2018-01-31 09:07:00,3825
11,Edison,New Brunswick,Departed,2018-01-31 09:13:06,2018-01-31 09:11:00,3825
12,New Brunswick,Princeton Junction,Departed,2018-01-31 09:27:06,2018-01-31 09:26:00,3825
13,Princeton Junction,Hamilton,Departed,2018-01-31 09:33:08,2018-01-31 09:33:00,3825
14,Hamilton,Trenton,Departed,2018-01-31 09:38:12,2018-01-31 09:45:00,3825

## Amtrak

In [35]:
examine_train('2018_01_30_A85')

,from,to,status,time,expected,train_id
stop_num,,,,,,
1,Newark Penn Station,Newark Penn Station,Departed,2018-01-30 15:22:06,None,A85
2,Newark Penn Station,Newark Penn Station,Departed,2018-01-30 15:23:07,None,A85
3,Newark Penn Station,Metropark,Departed,2018-01-30 15:37:09,None,A85
4,Metropark,Trenton,Departed,2018-01-30 16:01:19,None,A85
5,Trenton,Philadelphia,Departed,2018-01-30 16:45:07,None,A85