In [77]:
import pandas as pd

In [78]:
path = "./rail_data/"

In [79]:
trips = pd.read_csv(path+'trips.txt')
stop_times = pd.read_csv(path+'stop_times.txt')

In [80]:
trips[trips['block_id'] == "6925"]

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
1830,7,4,1831,DOVER,1,6925,878
1853,7,3,1854,DOVER,1,6925,901

In [12]:
trips['block_id'].nunique()

1480

In [60]:
trips[trips['block_id'] < "1000"]['block_id'].sort_values()

1641    0041
1634    0041
1592    0042
1591    0042
1633    0043
1624    0043
1573    0044
1574    0044
1632    0045
1640    0045
1575    0046
1576    0046
1623    0047
1614    0047
1577    0048
1578    0048
1619    0049
1612    0049
1596    0050
1595    0050
1616    0051
1625    0051
1588    0052
1587    0052
1627    0053
1618    0053
1580    0054
1579    0054
1620    0055
1629    0055
        ...
1776    0854
1788    0854
1738    0858
1755    0858
1930    0871
1948    0871
1777    0872
1762    0872
1913    0877
1888    0877
1764    0880
1779    0880
1941    0881
1918    0881
1778    0882
1789    0882
1772    0884
1784    0884
1801    0951
1643    0952
1802    0953
1644    0954
1800    0955
1645    0956
1803    0961
1646    0962
1804    0963
1647    0964
1805    0965
1648    0966
Name: block_id, dtype: object

In [9]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
0,1,25:53:00,25:53:00,10,1,0,0,0.0000
1,1,26:02:00,26:02:00,2,2,0,0,5.8924
2,1,26:12:00,26:12:00,39,3,0,0,16.4295
3,1,26:23:00,26:23:00,55,4,0,0,27.2915
4,1,26:36:00,26:36:00,9,5,0,0,40.2494

In [15]:
stop_times[stop_times['trip_id'] == 1831].head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,shape_dist_traveled
25922,1831,13:11:00,13:11:00,105,1,0,0,0.0000
25923,1831,13:20:00,13:20:00,38187,2,0,0,4.9884
25924,1831,13:30:00,13:30:00,106,3,0,0,10.4222
25925,1831,13:36:00,13:36:00,37,4,0,0,12.6699
25926,1831,13:39:00,13:39:00,23,5,0,0,13.1977

In [16]:
trip_stops = stop_times.merge(trips, on=['trip_id'])

In [18]:
len(trip_stops)

59825

In [19]:
len(stop_times)

59825

In [99]:
trip_stops[trip_stops['block_id'] == "7881"]['arrival_time']

34227    22:14:00
34228    22:23:00
34229    22:32:00
34230    22:37:00
34231    22:42:00
34232    22:48:00
34233    22:52:00
34234    22:57:00
34235    23:02:00
34236    23:07:00
34237    23:11:00
34238    23:26:00
34239    23:33:00
34240    23:45:00
34917    22:14:00
34918    22:23:00
34919    22:32:00
34920    22:37:00
34921    22:42:00
34922    22:48:00
34923    22:52:00
34924    22:57:00
34925    23:02:00
34926    23:07:00
34927    23:11:00
34928    23:26:00
34929    23:33:00
34930    23:45:00
Name: arrival_time, dtype: object

In [67]:
trip_stops[trip_stops['trip_headsign'] == "HOBOKEN"]['block_id'].unique()

array(['1090', '1092', '1094', '1002', '1000', '1070', '1006', '1074',
       '9530', '0544', '0530', '0510', '0514', '0518', '0522', '0526',
       '0534', '0538', '0262', '0250', '0204', '0208', '0212', '1786',
       '1752', '1854', '1856', '1858', '1862', '1866', '1870', '1874',
       '1876', '1878', '1882', '1822', '1704', '1706', '1708', '1712',
       '1716', '1718', '1720', '1724', '1726', '1728', '1730', '1732',
       '1254', '1226', '1278', '1280', '1152', '1154', '1156', '1252',
       '1168', '1202', '1204', '1206', '1208', '1210', '1212', '1214',
       '1216', '1218', '1220', '1234', '1158', '1146', '1150', '1162',
       '1178', '1180', '1148', '1160', '1164', '1166', '1170', '1172',
       '1174', '1100', '1102', '1116', '1118', '1120', '1122', '1124',
       '1128', '1130', '1132', '1134', '1274', '0088', '0094', '0080',
       '0072', '0078', '0070', '0074', '0076', '0082', '0066', '0044',
       '0046', '0048', '0054', '0056', '0058', '0064', '0052', '0068',
       '0042', '0062', '0050', '0952', '0954', '0956', '0962', '0964',
       '0966', '0308', '0312', '0332', '0334', '0300', '0684', '0626',
       '0858', '0852', '0608', '0872', '0880', '0660', '0682', '0884',
       '0808', '0854', '0882', '9746', '0466', '0434', '0400', '0404',
       '0408', '0412', '0416', '0414', '0402', '0480', '0432', '0430',
       '0418', '0420', '0422', '0424', '0426', '0428', '0436', '0438',
       '0440', '0442', '2608', '2300', '2312', '2606', '2602', '2604',
       '2100', '2102', '2104', '2108', '2112', '2114', '2118', '2122',
       '2124', '2126', '2106', '2110', '1628', '1612', '1626', '1610',
       '1622', '1624', '1636', '1602', '1604', '1608', '1614', '1616',
       '1620', '1630', '1632', '1634', '1606', '1618', '1652', '2406',
       '1966', '1972', '1976', '1982', '1964'], dtype=object)

In [40]:
first

'21:46:00'

In [36]:
hours, minutes, seconds = first.split(":")

In [38]:
minutes

'46'

In [83]:
trips[trips['block_id'].str.contains('0526')]

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
147,3,4,148,HOBOKEN,0,0526,148
150,3,3,151,HOBOKEN,0,0526,151

In [82]:
trips[trips['trip_id']==926]

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
925,4,19,926,HBLR TONNELLE,0,342JC003,299

In [88]:
trip_stops[trip_stops['block_id'] == 'foo']['arrival_time'].iloc[0]

IndexError: single positional indexer is out-of-bounds

In [90]:
IndexError

IndexError