# Figuring things out...

In [1]:
import configparser

In [29]:
config = configparser.RawConfigParser()   
config.read("../../api_keys.txt")

['../../api_keys.txt']

In [30]:
api_key = config.get("dark_sky", "api_key")

In [31]:
api_key = api_key + "/"

In [32]:
import requests

In [6]:
base_url = "https://api.darksky.net/forecast/"

In [45]:
exclude = "?exclude=[currently,minutely,hourly,alerts,flags]"

time:
Either be a UNIX time (that is, seconds since midnight GMT on 1 Jan 1970) or a string formatted as follows: [YYYY]-[MM]-[DD]T[HH]:[MM]:[SS][timezone]. timezone should either be omitted (to refer to local time for the location being requested), Z (referring to GMT time), or +[HH][MM] or -[HH][MM] for an offset from GMT in hours and minutes. The timezone is only used for determining the time of the request; the response will always be relative to the local time zone.

In [49]:
sample_time = ",2018-02-05T12:00:00"

In [50]:
r = requests.get(base_url+api_key+"37.8267,-122.4233"+sample_time+exclude)

In [67]:
j = r.json()

In [77]:
import json
from pandas.io.json import json_normalize

In [93]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], a)
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, str(i))
                i += 1
        else:
            out[name] = x

    flatten(y)
    return out

In [79]:
j

{'daily': {'data': [{'apparentTemperatureHigh': 66.27,
    'apparentTemperatureHighTime': 1517875200,
    'apparentTemperatureLow': 54.86,
    'apparentTemperatureLowTime': 1517918400,
    'apparentTemperatureMax': 66.27,
    'apparentTemperatureMaxTime': 1517875200,
    'apparentTemperatureMin': 53.53,
    'apparentTemperatureMinTime': 1517839200,
    'cloudCover': 0.18,
    'dewPoint': 50.32,
    'humidity': 0.76,
    'icon': 'partly-cloudy-day',
    'moonPhase': 0.69,
    'precipIntensity': 0,
    'precipIntensityMax': 0,
    'precipProbability': 0,
    'pressure': 1016.53,
    'summary': 'Partly cloudy until evening.',
    'sunriseTime': 1517843467,
    'sunsetTime': 1517881134,
    'temperatureHigh': 66.27,
    'temperatureHighTime': 1517875200,
    'temperatureLow': 54.86,
    'temperatureLowTime': 1517918400,
    'temperatureMax': 66.27,
    'temperatureMaxTime': 1517875200,
    'temperatureMin': 53.53,
    'temperatureMinTime': 1517839200,
    'time': 1517817600,
    'visibility': 9.35,
    'windBearing': 296,
    'windSpeed': 1.38}]},
 'latitude': 37.8267,
 'longitude': -122.4233,
 'offset': -8,
 'timezone': 'America/Los_Angeles'}

In [97]:
flattened_j = flatten_json(j)

In [101]:
json_normalize(flattened_j).columns

Index(['apparentTemperatureHigh', 'apparentTemperatureHighTime',
       'apparentTemperatureLow', 'apparentTemperatureLowTime',
       'apparentTemperatureMax', 'apparentTemperatureMaxTime',
       'apparentTemperatureMin', 'apparentTemperatureMinTime', 'cloudCover',
       'dewPoint', 'humidity', 'icon', 'latitude', 'longitude', 'moonPhase',
       'offset', 'precipIntensity', 'precipIntensityMax', 'precipProbability',
       'pressure', 'summary', 'sunriseTime', 'sunsetTime', 'temperatureHigh',
       'temperatureHighTime', 'temperatureLow', 'temperatureLowTime',
       'temperatureMax', 'temperatureMaxTime', 'temperatureMin',
       'temperatureMinTime', 'time', 'timezone', 'visibility', 'windBearing',
       'windSpeed'],
      dtype='object')

In [37]:
import pandas as pd

# Iterate to find daily Penn Station for time range?

In [102]:
import datetime

In [108]:
datetime.datetime.today().strftime("%Y-%m-%d")

'2018-03-22'

## Make range of time for requests

In [119]:
date_range = [datetime.datetime.strptime("2018-02-05", "%Y-%m-%d") + datetime.timedelta(days=x) for x in range(0, 28)]

In [120]:
date_range = [date.strftime("%Y-%m-%d") for date in date_range]

In [127]:
date_range[0], date_range[len(date_range) - 1]

('2018-02-05', '2018-03-04')

In [123]:
sample_time_format = ",{date}T12:00:00"

In [128]:
for date in date_range:
    print(sample_time_format.format(date=date))

,2018-02-05T12:00:00
,2018-02-06T12:00:00
,2018-02-07T12:00:00
,2018-02-08T12:00:00
,2018-02-09T12:00:00
,2018-02-10T12:00:00
,2018-02-11T12:00:00
,2018-02-12T12:00:00
,2018-02-13T12:00:00
,2018-02-14T12:00:00
,2018-02-15T12:00:00
,2018-02-16T12:00:00
,2018-02-17T12:00:00
,2018-02-18T12:00:00
,2018-02-19T12:00:00
,2018-02-20T12:00:00
,2018-02-21T12:00:00
,2018-02-22T12:00:00
,2018-02-23T12:00:00
,2018-02-24T12:00:00
,2018-02-25T12:00:00
,2018-02-26T12:00:00
,2018-02-27T12:00:00
,2018-02-28T12:00:00
,2018-03-01T12:00:00
,2018-03-02T12:00:00
,2018-03-03T12:00:00
,2018-03-04T12:00:00

In [130]:
penn_station_lat_long = "40.750046,-73.992358"

In [131]:
penn_station_requests = []

for date in date_range:
    date_for_url = sample_time_format.format(date=date)
    r = requests.get(base_url+api_key+penn_station_lat_long+date_for_url+exclude)
    penn_station_requests.append(r)

In [133]:
penn_station_flattened = [flatten_json(r.json()) for r in penn_station_requests]

In [142]:
penn_station_daily_weather_df = pd.DataFrame(penn_station_flattened, index = pd.DatetimeIndex(date_range))

In [145]:
# penn_station_daily_weather_df.to_csv("penn_station_daily_weather_0205-0304.csv")

# Get lat/long for stations

In [147]:
stops = pd.read_csv("../../rail_data/stops.txt")

In [148]:
stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id
0,1,95001,30TH ST. PHL.,NaN,39.956565,-75.182327,5961
1,2,95002,ABSECON,NaN,39.424333,-74.502094,333
2,3,95003,ALLENDALE,NaN,41.030902,-74.130957,2893
3,4,95004,ALLENHURST,NaN,40.237659,-74.006769,5453
4,5,95005,ANDERSON STREET,NaN,40.894458,-74.043781,1357
5,6,95006,ANNANDALE,NaN,40.645173,-74.878569,5197
6,8,95008,ASBURY PARK,NaN,40.215359,-74.014786,5453
7,9,95009,ATCO,NaN,39.783547,-74.907588,4429
8,10,95010,ATLANTIC CITY,NaN,39.363299,-74.441486,77
9,11,95011,AVENEL,NaN,40.577620,-74.277530,2381
10,12,95012,BASKING RIDGE,NaN,40.711378,-74.555270,4173
11,13,95013,BAY HEAD,NaN,40.077178,-74.046183,5965
12,14,95014,BAY STREET,NaN,40.808178,-74.208681,1357
13,15,95015,BELMAR,NaN,40.180590,-74.027301,5709
14,17,95017,BERKELEY HEIGHTS,NaN,40.682345,-74.442649,2893
15,18,95018,BERNARDSVILLE,NaN,40.716845,-74.571023,4173
16,19,95019,BLOOMFIELD,NaN,40.792709,-74.200043,1101
17,20,95020,BOONTON,NaN,40.903378,-74.407736,3661
18,21,95021,BOUND BROOK,NaN,40.560929,-74.530617,3661
19,22,95022,BRADLEY BEACH,NaN,40.203751,-74.018891,5453
20,23,95023,BRICK CHURCH,NaN,40.765134,-74.218612,1101
21,24,95024,BRIDGEWATER,NaN,40.559906,-74.551741,3917
22,25,95025,BROADWAY,NaN,40.922505,-74.115236,1613
23,26,95026,CAMPBELL HALL,NaN,41.450917,-74.266554,5709
24,27,95027,CHATHAM,NaN,40.740137,-74.384812,2637
25,28,95028,CHERRY HILL,NaN,39.928447,-75.041661,5197
26,29,95029,CLIFTON,NaN,40.867998,-74.153203,1357
27,30,95030,CONVENT,NaN,40.779040,-74.443435,3149
28,31,95031,ROSELLE PARK,NaN,40.667152,-74.266320,1613
29,32,95032,CRANFORD,NaN,40.655523,-74.303226,1869
...,...,...,...,...,...,...,...
199,38299,30863,BEVERLY/EDGEWATER PARK LIGHT RAIL STA,NaN,40.061120,-74.915131,336
200,38300,30864,DELANCO LIGHT RAIL STATION,NaN,40.048068,-74.950280,336
201,38301,30865,RIVERSIDE LIGHT RAIL STATION,NaN,40.039219,-74.958842,336
202,38302,30866,CINNAMINSON LIGHT RAIL STATION,NaN,40.016557,-74.999942,336
203,38303,30867,RIVERTON LIGHT RAIL STATION,NaN,40.008939,-75.013082,336
204,38304,30868,PALMYRA LIGHT RAIL STATION,NaN,40.004659,-75.020391,336
205,38305,30869,ROUTE 73/PENNSAUKEN LIGHT RAIL STATION,NaN,39.993109,-75.039610,336
206,38306,30870,36TH STREET LIGHT RAIL STATION,NaN,39.960960,-75.079622,336
207,38307,30871,WALTER RAND TRANSPORTATION CTR,NaN,39.943258,-75.120210,336
208,38308,30872,COOPER STREET/RUTGERS LIGHT RAIL STATION,NaN,39.947598,-75.124070,336
209,38309,30873,AQUARIUM LIGHT RAIL STATION,NaN,39.945658,-75.128682,336
210,38310,30874,ENTERTAINMENT CENTER LIGHT RAIL STATION,NaN,39.940940,-75.128473,336
211,38417,95170,RAMSEY ROUTE 17 STATION,NaN,41.075130,-74.145485,3149
212,38441,30828,2ND STREET LIGHT RAIL STATION,NaN,40.741740,-74.042821,336
213,38442,30827,9TH STREET LIGHT RAIL STATION,NaN,40.748867,-74.038522,336
214,38578,30824,BERGENLINE AVE,NaN,40.781638,-74.021801,336
215,38579,30823,TONNELLE AVENUE LIGHT RAIL STATION,NaN,40.787330,-74.031263,336
216,39130,30775,BROAD STREET LIGHT RAIL STATION,NaN,40.747209,-74.171510,336
217,39131,30774,RIVERFRONT STADIUM LIGHT RAIL STATION,NaN,40.745590,-74.169202,336
218,39132,30776,WASHINGTON PARK LIGHT RAIL STATION,NaN,40.743938,-74.169853,336
219,39133,30773,ATLANTIC STREET LIGHT RAIL STATION,NaN,40.744160,-74.168491,336
220,39134,30772,NJPAC/CENTRE STREET LIGHT RAIL STATION,NaN,40.739498,-74.165580,336
221,39348,30829,HOBOKEN TERMINAL LIGHT RAIL STATION,NaN,40.734059,-74.029192,336
222,39472,95171,MOUNT ARLINGTON,NaN,40.896590,-74.632731,4941
223,39635,95172,WAYNE/ROUTE 23 TRANSIT CENTER [RR],NaN,40.900254,-74.256971,2381
224,42545,31061,PENN STATION LIGHT RAIL ARRIVAL,NaN,40.734810,-74.163603,0
225,42673,31145,8TH STREET LIGHT RAIL STATION,NaN,40.654298,-74.129142,0
226,43288,31898,PENNSAUKEN TRANSIT CENTER LIGHT RAIL STA,NaN,39.978276,-75.061962,336
227,43298,95183,PENNSAUKEN TRANSIT CENTER,NaN,39.977769,-75.061796,5197
228,43599,95184,WESMONT,NaN,40.854979,-74.096951,1101