In [2]:
import pandas as pd

In [4]:
df_03_02 = pd.read_csv("../../csv/2018_03_02.csv")

In [5]:
df_03_02.head()

,train_id,date,stop_sequence,from,from_id,to,to_id,expected,time,status,line,type
0,5127,2018-03-02,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 13:47:00,2018-03-02 13:47:14,departed,Raritan Valley,NJ Transit
1,5127,2018-03-02,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 13:56:00,2018-03-02 13:57:18,departed,Raritan Valley,NJ Transit
2,5127,2018-03-02,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 14:06:00,2018-03-02 14:05:19,departed,Raritan Valley,NJ Transit
3,5127,2018-03-02,4.0,Newark Penn Station,107,Union,38105,2018-03-02 14:15:00,2018-03-02 14:24:11,departed,Raritan Valley,NJ Transit
4,5127,2018-03-02,5.0,Union,38105,Roselle Park,31,2018-03-02 14:18:00,2018-03-02 14:27:18,departed,Raritan Valley,NJ Transit